*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



::-webkit-scrollbar-track{
    background-color: #303c6c;
}
 

::-webkit-scrollbar{
    background: #182628;
}

html{
    height: 100%;
}
body{
    font-family: 'Lobster Two', cursive;
    font-family: 'Roboto', sans-serif;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.1)), url("Gallery/shop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}
.container{
    position: static;
    background-color: #000;
    display: flex;
    height: 100px;
    align-items: center;
    align-content: center;
    justify-content: right;
}

.container .header{
    color: #fff;
    font-size: 25px;
    position: absolute;
    left: 75px;
}

.container .nav-bar{
    position: absolute;
    right: 250px;
}

.container .nav-bar a{
    text-decoration: none;
    font-size: 20px;
    color: #15db95;
    padding-right: 25px;
}



@media only screen and (max-width: 600px){
    
.container{
    background-color: #000;
    display: flex;
    height: 60px;
    align-items: center;
    align-content: center;
    justify-content: right;
}

.container .header{
    color: #fff;
    font-size: 11px;
    position: absolute;
    left: 2px;
}

.container .nav-bar{
    position: absolute;
    right: 5px;
}

.container .nav-bar a{
    text-decoration: none;
    font-size: 11px;
    color: #15db95;
    padding-right: 2px;
}
}


@media only screen and (min-width: 610px) and (max-width: 1200px){
  
.container{
    background-color: #000;
    display: flex;
    height: 80px;
    align-items: center;
    align-content: center;
    justify-content: right;
}

.container .header{
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 20px;
}

.container .nav-bar{
    position: absolute;
    right: 30px;
}

.container .nav-bar a{
    text-decoration: none;
    font-size: 15px;
    color: #15db95;
    padding-right: 15px;
}

   
}


.blog{
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.blog .blog2{
    text-align: center;
    width: 600px;
    
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #fff;
    background-color: #0d19a3;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 5px;
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
    cursor: pointer;
   }
   
   button:hover {
    color: #0d19a3;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
   }
   
   button:active {
    box-shadow: none;
   }

   .blog .blog2 p{
    color: #ffe;
    font-size: 27px;

    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
   }

    

   * ----------------------------------------------
 * Generated by Animista on 2023-3-17 19:59:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
            opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}




@media only screen and (max-width: 600px){

    
.blog{
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.blog .blog2{
    text-align: center;
    width: 300px;
    
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #fff;
    background-color: #0d19a3;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 5px;
    padding: 7px 12px 7px 14px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
    cursor: pointer;
   }
   
   button:hover {
    color: #0d19a3;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
   }
   
   button:active {
    box-shadow: none;
   }

   .blog .blog2 p{
    color: #ffe;
    font-size: 20px;

    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
   }

    

   * ----------------------------------------------
 * Generated by Animista on 2023-3-17 19:59:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
            opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}



}



/*--------------- my_footer--------------------- */


.footer-container{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    align-content: center;
    height: 130px;
}

.footer-container .logo{
    color: #15db95;
    font-size: 45px;
}

.footer{
    display: flex;
    justify-content: space-around;
}

.footer .social-media{
    display: grid;
}


.socials{
    display: flex;
    justify-content: space-around;

}



